body{
  background-color: palegreen;
}
.my_card{
  border-radius: 20px;
  overflow: hidden;
}
h1.titolo{
  margin-top: 50px;
  color: white;
}
.center{
  justify-content: center;
  align-items: center;
}
img{
  object-fit: contain;
}